.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Navbar Style */
header{
    background-image: url("../Assets/Hero-bg.png");
    background-size: cover;
    max-width: 1440px;
    max-height: 100%;
    background-size: cover;
    }
.nav{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 30px;
}

.nav-title{
    color: #4E47FF;
    font-size: 34px;
}
.nav-button{
    color: white;
    font-weight: bold;
    font-size: 16px;
    background-color: #4E47FF;
    padding: 12px 36px 12px 36px;
    border-radius: 10px;
    border: none;
}

/* Banner Style */

.banner{
    padding: 158px 237px 152px 267px ;
}
.main-banner{
    text-align: center;
}
.banner-title{
    font-weight: bold;
    font-size: 65px;
}
.banner-btn{
    margin-bottom: 152px;
}

/* Action Style */

.main-action{
    display:flex ;
    justify-content: space-between;
    gap: 220px;
    margin: 116px 160px 116px 141px;
}
.action-container{
    text-align: left;
}
.action-title{
    color: #252432;
    font-weight: bold;
    font-size: 42px;
}
.action-description{
    color: #2524327d;
    font-size: 24px;
    font-weight: normal;
}
.action-img{
    width: 403px;
    height: 328px;
}
.action-img img{
    border-radius: 48px;
}