.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body{
    background-color: #f5f8ff;
}

/* Navbar Style */
.main-header{
    background-image: url("../Assets/Hero-bg.png");
    background-size: cover;
    max-width: 1440px;
    /* max-height: 698px; */
    /* max-width: 100%;
    max-height: 100%; */
    /* background-size: cover; */
    }
.nav{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 30px;
}

.nav-title{
    color: #4E47FF;
    font-size: 34px;
}
.nav-button{
    color: white;
    font-weight: bold;
    font-size: 16px;
    background-color: #4E47FF;
    padding: 12px 36px 12px 36px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.nav-button:hover{
    border-radius: 10px;
    transform: rotate(15deg);
    background-color: rgba(255, 99, 71, 0.385);
    color: royalblue;
}
.nav-button:hover::before{
    opacity: 0.5;
    transform: scale(2);
}

/* Banner Style */

.banner{
    padding: 158px 237px 152px 267px ;
}
.main-banner{
    text-align: center;
    /* margin: 309px 267px 152px 276px; */
}
.banner-title{
    font-weight: bold;
    font-size: 65px;
}
.banner-btn{
    margin-bottom: 152px;
}

/* Action Style */

.main-action{
    max-width: 1140px;
    display:flex ;
    justify-content: space-between;
    gap: 220px;
    margin: 116px 160px 116px 141px;
}
.action-container{
    text-align: left;
}
.action-title{
    color: #252432;
    font-weight: bold;
    font-size: 42px;
}
.action-description{
    color: #2524327d;
    font-size: 24px;
    font-weight: normal;
}

img{
    margin: 0 auto;
    border-radius: 48px;
}

/* Productive User Style */

.productive{
    max-width: 1140px;
    margin: 116px 159px 116px 141px;
    background-color: #4d47ff15;
    border-radius: 24px;
}
.productive-title{
    text-align: center;
    color: #252432;
    font-weight: bold;
    font-size: 38px;
    padding: 50px 142px 40px 142px;
}

.productive-container{
    display: flex;
    justify-content: space-around;
}
.item-title{
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
}
.productive-description{
    color: #00000075;
    font-weight: normal;
    font-size: 20px;
    padding: 0%;
    margin: 0%;
}

.item{
    line-height: 0;
    padding-bottom: 50px;
}

/* User Review Style */

.user-review{
    max-width: 1140px;
    margin-left: 151px;
    
}
.main-review{
    border-radius: 14px;
    background-color: #FFFFFF;
    border-radius: 14px ;
    box-shadow: 10px 5px 50px 10px rgba(0, 0, 0, 0.089);
}

.review-img{
    margin-top: 24px;
    margin-left: 24px;
}
.review-comments{
    margin-top: 24px;
    margin-left: 24px;
}
.main-review-title{
    color: #252432;
    font-weight: bold;
    font-size: 42px;
    text-align: center;
}

.review-comments h2{
    line-height: 13px;
}
.review-details{
    display: flex;
}
.review-details img{
    margin: 16px 12px 30px 20px;
}
.review-personal{
    line-height: 2px;
}
.multiple-review{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-right: 10px;    
    padding: 24px;
}

/* Feedback/ Get in Touch Style */

.feedback{
    max-width: 1140px;
    display: flex;
    gap: 200px;
    align-items: center;
    
}
.feedback-title{
    font-weight: bold;
    font-size: 97px;
    color: #000000;
    margin: 200px 0px 200px 150px;
}
.form-section{
    display: block;
    width: 100px;
}
.form-section input[type="text"], input[type="email"], textarea{
    padding: 20px 130px 20px 32px;
    border: none;
    border-radius: 10px;
    background-color: #FFFFFF;
    font-size: 20px;
    font-weight: normal;
    color: #0000005a;
}

.form-section label [for="email"], label[for="text"]{
    font-size: 18px;
    font-weight: 300;
    color: #000000;
}
.form-section textarea{
    padding: 20px 137px 85px 32px;
}
.feedback-button{
    margin-top: 19px;
    padding: 15px 180px;
}
.text-area{
    color: #25243278;
}

/* Footer Section Style */

.footer{
    max-width: 1440px;
    background-color: #ffffff;
}
.footer-title{
    color: #4E47FF;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    line-height: 1px;
    padding: 104px 455px 20px 455px;
    padding-top: 104px;
}
.footer-description{
    color: #8987A1;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    margin: 0px 444px 0px 455px;
}

.footer-link{
    display: flex;
    gap: 30px; 
    margin: 20px 520px 103px 520px;
}
.footer-link a{
    text-decoration: none;
    color: #8987A1;
    padding-bottom: 103px;
}

